# 环境
NODE_ENV=

# 前端地址
FRONTEND_URL=

# 服务配置
PORT=
HOST=

# 日志 (jet-logger)
JET_LOGGER_MODE=
JET_LOGGER_FILEPATH=
JET_LOGGER_TIMESTAMP=
JET_LOGGER_FORMAT=

# MongoDB
MONGODB_URI=

# 用户数据库
USER_DATABASE_NAME=
USER_COLLECTION_NAME=

# 员工数据库
EMPLOYEE_DATABASE_NAME=
EMPLOYEE_COLLECTION_NAME=
EMPLOYEE_registration_COLLECTION_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# 密码加密轮数
BCRYPT_SALT_ROUNDS=

# EmailJS
EMAILJS_PUBLIC_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_PRIVATE_KEY=
EMAILJS_TEMPLATE_ID=

# AWS 服务
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=